body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    background-color: rgba(19, 19, 19, 0.562);
}

nav > h1 {
    color: rgb(255, 166, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 180px;
    height: 80px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

.title > h1{
    color: orange;
    font-size: 50px;
    margin-left: 190px;
    margin-bottom: 0px;
}

.title > p {
    margin-left: 190px;
    margin-right: 110px;
}

.title > button {
    margin-top: 16px;
    margin-left: 190px;
    background-color: orange;
    color: white;
    width: 170px;
    height: 45px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.container-img-product >img {
    width: 100%;
    height: auto; 
    max-width: 600px;
   /*height: 650px;
   width: 700px;
   object-fit: cover;*/
}

