html {
    scroll-behavior:smooth;
  }

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    background-color: rgba(32, 32, 32, 0.692);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 180px;
    height: 80px;
}

nav > h1 {   /*LOGO*/
    color: rgb(255, 166, 0);
    margin-left: 60px;
}

.nav li {
    display: inline-block;
    margin-left: 30px;
}

.nav {
    margin-right: 900px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

.title > h1{
    color: orange;
    font-size: 60px;
    margin-left: 210px;
    margin-bottom: 0px;
}

.title > p {
    margin-left: 210px;
    margin-right: 110px;
}

.title button {
    padding: 12px 24px;
    margin-left: 210px;
    width: auto;
    background-color: orange;
    color: white;
    width: 170px;
    height: 45px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

}

.container-img-product >img {
    width: 100%;
    height: auto; 
    max-width: 950px;
    object-fit: cover;
}

.main-image > img{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-left: 210px;
}

.thumbnail-images > img {
    width: 100%;
    height: auto;
    max-width: 197px;
}

.thumbnail-images {
    margin-left: 210px;
}

.purchase {
    display: flex;
}

.purchase-info {
    margin-left: 140px;
    margin-top: 150px;
}

.purchase-info > h2 {
    font-size: 40px;
    margin: 0px;
}

.preço {
    color: red;
    font-size: 14px;
    text-decoration:line-through
}

.preço-com-desconto {
    color: rgb(16, 175, 16);
    font-size: 25px;
    margin-right: 10px;
}

/*
.number-input {
    display: flex;
    align-items: center;
}

.number-input input[type="number"] {
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}

.number-input button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
}

.number-input button:hover {
    background-color: rgba(255, 166, 0, 0.548);
}


input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.comprar {
    width: 523px;
    height: 40px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
}
    */

.comprar:hover {
    background-color: rgba(255, 166, 0, 0.548);
}

.metodos-pagamento {
    margin-top: 15px;
    margin-left: 160px;
}

.especificações li {
    margin-top: 7px;
}

.botão-compra {
    margin-left: 115px;
}